/* var declaration */
:root {
  --default-text-color: #cad3f5;
  --default-background-color: #1f1f28;
  --light-text-color: #000000;
  --light-background-color: #ffffff;
  --accent-color: #957fb8;
}

/* default body theme */
body {
  margin: 0;
  background-color: var(--default-background-color);
  color: var(--default-text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: "Fira Code", sans-serif;
}

/* toggled light theme */
body.light-theme {
  background-color: var(--light-background-color);
  color: var(--light-text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid var(--accent-color);
}

.navbar a {
  font-size: 16px;
  text-decoration: none;
  color: var(--default-text-color);
  background-color: var(--accent-color);
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
}

.navbar a i {
  font-size: 18px;
}

.navbar a:active {
  transform: scale(0.95);
}

.navbar a:hover {
  background-color: var(--default-text-color);
  color: var(--accent-color);
}

.navbar button {
  background-color: var(--accent-color);
  color: var(--default-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar button i {
  font-size: 18px;
}

.navbar button:active {
  transform: scale(0.95);
}

.navbar button:hover {
  background-color: var(--default-text-color);
  color: var(--accent-color);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.container img {
  margin: 20px;
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  border: 2px solid var(--accent-color);
}

.container ul h3,
.container ul p {
  margin: 12px 0;
}

.container ul a {
  color: #957fb8;
  /* text-decoration: none; */
  padding: auto;
  margin: 12px 4px;
}

.container * i {
  margin-right: 6px;
}
