body {
  background-color: #1f1f28;
  color: #cad3f5;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Fira Code", sans-serif;
}

body.light-theme {
  background-color: #fff;
  color: #000;
}

.navbar {
  width: auto;
  height: auto;
}

.navbar button {
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-color: #cad3f5;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}

.container img {
  margin: 20px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.container p {
  max-width: 600px;
}

.container a {
  max-width: 600px;
}
