/* Var declaration */
:root {
  --default-text-color: #cad3f5;
  --default-background-color: #1f1f28;
  --accent-color: #957fb8;
  --hover-color: #d3b1e2;
}

/* Default body theme */
body {
  background-color: var(--default-background-color);
  color: var(--default-text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Fira Code", sans-serif;
}

/* Toggled light theme */
body.light-theme {
  background-color: var(--default-text-color);
  color: var(--default-background-color);
}

/* Header */
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

header img {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  border: 2px solid var(--accent-color);
  margin: 12px;
}

body.light-theme header img {
  border: 2px solid var(--default-background-color);
}

/* Navbar */
.navbar {
  margin: 4px;
}

.navbar ul {
  padding: 12px;
  margin: 0px;
}

.navbar ul h1,
.navbar ul p {
  margin: 12px 4px;
}

.navbar * i {
  margin-right: 6px;
  font-size: 18px;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 20px;
}

.navbar a,
.navbar button {
  display: flex;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--default-text-color);
  font-size: 16px;
  border-radius: 4px;
  padding: 12px 20px;
  width: 100%; /* Ensure that both the links and the button occupy 100% of the width */
  box-sizing: border-box; /* Include padding in width calculation */
}

.navbar a {
  text-decoration: none;
  margin: 4px;
}

.navbar button {
  cursor: pointer;
  border: none;
  margin: 4px;
}

.navbar a:active,
.navbar button:active {
  transform: scale(0.95);
}

.navbar a:hover,
.navbar button:hover {
  background-color: var(--default-text-color);
  color: var(--accent-color);
}

body.light-theme .navbar a:hover,
body.light-theme .navbar button:hover {
  background-color: var(--default-background-color);
}

/* Container */
.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

/* Section global */
section {
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.3);
}

section h3 {
  color: var(--accent-color);
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  border-bottom: 2px solid var(--default-text-color);
}

body.light-theme section h3 {
  border-bottom: 2px solid var(--default-background-color);
}

section p {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 10px;
}

/* Experience section */
#experience a {
  color: var(--accent-color);
}

#experience a:hover {
  color: var(--hover-color);
}

/* Skill section */
.skill {
  width: 100%;
  margin-bottom: 14px;
}

.skill span {
  font-size: 16px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.skill i,
.contact-info i {
  margin-right: 6px;
  font-size: 18px;
}

.skill-bar {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.skill-level {
  background-color: var(--accent-color);
  height: 12px;
  border-radius: 4px;
}

/* Contact section */
.contact-info p {
  display: flex;
  flex-wrap: wrap;
}
.contact-info p strong {
  margin-right: 4px;
}

.contact-info p a {
  margin: 0;
}

.contact-info p,
.contact-info ul {
  margin: 10px 0;
}

.contact-info a {
  color: var(--accent-color);
  margin-left: 6px;
}

.contact-info a:hover {
  color: var(--hover-color);
}

.contact-info ul {
  list-style: none;
}

.contact-info ul li {
  display: flex;
  align-items: center;
  margin: 6px 0px;
}

/* Contact section form */
.comment-container {
  margin-top: 20px;
}

.comment-container h4 {
  margin-bottom: 20px;
  font-size: 20px;
}

.comment-container form {
  display: flex;
  flex-direction: column;
}

.comment-container label {
  margin-bottom: 4px;
  font-weight: bold;
}

.comment-container input,
.comment-container textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid var(--default-text-color);
  border-radius: 4px;
  background-color: var(--default-background-color);
  color: var(--default-text-color);
}

body.light-theme .comment-container input,
body.light-theme .comment-container textarea {
  border: 1px solid var(--default-background-color);
  background-color: var(--default-text-color);
  color: var(--default-background-color);
}

#comment-form input:focus,
#comment-form textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

#comment-form button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--default-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#comment-form button:hover {
  background-color: var(--default-text-color);
  color: var(--accent-color);
}

#comment-form button:active {
  transform: scale(0.95);
}

body.light-theme #comment-form button:hover {
  background-color: var(--default-background-color);
}
